{% extends 'base.html' %}

{% block header %}
<div class="alert alert-primary" role="alert">
  <h3>社内SNS</h3>
</div>
{% endblock header %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        <p>タイトル：<input type="text" name="title"></p>
        <p>本文：<input type="text" name="content"></p>
        <p>画像：<input type="file" name="snsimage"></p>
        <p>通知レベル：
            <select name="notice_level">
                <option value="danger">高</option>
                <option value="warning">中</option>
                <option value="primary">低</option>
                <option value="light" selected>無</option>
            </select>
        </p>
        <input type="hidden" name="author" value="{{ user.username }}">
        <input type="submit" value="投稿する">
    </form>
</div>
{% else %}
<p>please login</p>
<a href="{% url 'login' %}">ログイン画面へ</a>
{% endif %}
{% endblock content %}