{% extends 'base.html' %}

{% block header_title %}
<h2 class="fw-bold mb-2 display-5">社内SNS 新規投稿フォーム</h2>
{% endblock header_title %}

{% block content %}
{% if user.is_authenticated %}
<div class="container my-5">
  <div class="card shadow-lg border-0 rounded-4 p-4">
    <div class="card-body">
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <div class="mb-3">
    <label for="title" class="form-label fw-bold">タイトル</label>
    <input type="text" name="title" id="title" class="form-control" value="{{ object.title}}" required>
  </div>

  <div class="mb-3">
    <label for="content" class="form-label fw-bold">本文</label>
    <textarea name="content" id="content" rows="5" class="form-control" required>{{ object.content}}</textarea>
  </div>

<div class="mb-3">
  <label for="snsimage" class="form-label fw-bold">画像</label>

  {% if object.snsimage %}
    <div class="mb-2">
      <img src="{{ object.snsimage.url }}" class="img-thumbnail" style="max-width: 200px;">
    </div>
  {% endif %}
</div>

  <div class="mb-3">
    <label for="notice_level" class="form-label fw-bold">通知レベル</label>
    <select name="notice_level" id="notice_level" class="form-select">
      {% if object.notice_level.value == "danger" %}
        <option value="danger" selected>高</option>
      {% else %}
        <option value="danger">高</option>
      {% endif %}
      {% if object.notice_level.value == "warning" %}
        <option value="warning" selected>中</option>
      {% else %}
        <option value="warning">中</option>
      {% endif %}
      {% if object.notice_level.value == "primary" %}
        <option value="primary" selected>低</option>
      {% else %}
        <option value="primary">低</option>
      {% endif %}
      {% if object.notice_level.value == "light" %}
        <option value="light" selected>無</option>
      {% else %}
        <option value="light">無</option>
      {% endif %}
    </select>
  </div>

  <div class="text-center mt-4">
    <button type="submit" class="btn btn-danger px-5 py-3" value="delete">削除する</button>
  </div>
</form>

    </div>
  </div>

  <div class="text-center mt-4">
    <a href="{% url 'board' %}" class="btn btn-link">一覧画面へ戻る</a>
  </div>

</div>
{% else %}
<div class="container text-center py-5">
  <p class="text-danger fs-5">※ログインが必要です</p>
  <a href="{% url 'login' %}" class="btn btn-primary">ログイン画面へ</a>
</div>
{% endif %}
{% endblock content %}
